<!--头部-->
{include file="home/common/head" /}

<!--搜索框-->
{include file="home/common/search" /}

<!-- Start of Page Container -->
<div class="page-container">
    <div class="container">
        <div class="row">

            <!-- start of page content -->
            <div class="span8 page-content">

                <!-- Basic Home Page Template -->
                <div class="row separator">
                    <section class="span4 articles-list">
                        <h3>热门课程</h3>
                        <ul class="articles">
                            <li class="article-entry standard">
                                <h4><a href="single.html">WordPress CSS信息和技术WordPress CSS信息和技术信息和技术信息和技术</a></h4>
                                <span class="article-meta">2020-2-26
                                    <a href="#" title="View all posts in Server &amp; Database">Java</a></span>
                                <span class="like-count">66</span>
                            </li>
                            <li class="article-entry standard">
                                <h4><a href="single.html">WordPress CSS信息和技术WordPress CSS信息和技术</a></h4>
                                <span class="article-meta">2020-2-26
                                    <a href="#" title="View all posts in Server &amp; Database">Java</a></span>
                                <span class="like-count">66</span>
                            </li>
                            <li class="article-entry standard">
                                <h4><a href="single.html">WordPress CSS信息和技术WordPress CSS信息和技术</a></h4>
                                <span class="article-meta">2020-2-26
                                    <a href="#" title="View all posts in Server &amp; Database">Java</a></span>
                                <span class="like-count">66</span>
                            </li>
                            <li class="article-entry standard">
                                <h4><a href="single.html">WordPress CSS信息和技术WordPress CSS信息和技术</a></h4>
                                <span class="article-meta">2020-2-26
                                    <a href="#" title="View all posts in Server &amp; Database">Java</a></span>
                                <span class="like-count">66</span>
                            </li>
                            <li class="article-entry standard">
                                <h4><a href="single.html">WordPress CSS信息和技术WordPress CSS信息和技术</a></h4>
                                <span class="article-meta">2020-2-26
                                    <a href="#" title="View all posts in Server &amp; Database">Java</a></span>
                                <span class="like-count">66</span>
                            </li>
                        </ul>
                    </section>


                    <section class="span4 articles-list">
                        <h3>最新课程</h3>
                        <ul class="articles">
                            <li class="article-entry standard">
                                <h4><a href="single.html">信息和技术信息和技术信息和技术信息和技术信息和技术</a></h4>
                                <span class="article-meta">2020-2-26 <a href="#"
                                                                              title="View all posts in Server &amp; Database">前端</a></span>
                                <span class="like-count">66</span>
                            </li>
                            <li class="article-entry standard">
                                <h4><a href="single.html">信息和技术信息和技术信息和技术</a></h4>
                                <span class="article-meta">2020-2-26 <a href="#"
                                                                              title="View all posts in Advanced Techniques">前端</a></span>
                                <span class="like-count">18</span>
                            </li>
                            <li class="article-entry image">
                                <h4><a href="single.html">信息和技术</a></h4>
                                <span class="article-meta">2020-2-26 <a href="#"
                                                                              title="View all posts in Designing in WordPress">前端</a></span>
                                <span class="like-count">7</span>
                            </li>
                            <li class="article-entry video">
                                <h4><a href="single.html">信息和技术信息和技术信息和技术信息和技术信息和技术信息和技术信息和技术</a></h4>
                                <span class="article-meta">2020-2-26 <a href="#"
                                                                              title="View all posts in WordPress Plugins">前端</a></span>
                                <span class="like-count">7</span>
                            </li>
                            <li class="article-entry standard">
                                <h4><a href="single.html">信息和技术信息和技术信息和技术</a></h4>
                                <span class="article-meta">2020-2-26 <a href="#"
                                                                              title="View all posts in Website Dev">前端</a></span>
                                <span class="like-count">15</span>
                            </li>
                            <li class="article-entry standard">
                                <h4><a href="single.html">信息和技术信息和技术信息和技术信息和技术信息和技术信息和技术</a></h4>
                                <span class="article-meta">2020-2-26 <a href="#"
                                                                              title="View all posts in Theme Development">前端</a></span>
                                <span class="like-count">1</span>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
            <!-- end of page content -->


            <!-- start of sidebar -->
            <aside class="span4 page-sidebar">
                <!--联系支持-->
                {include file="home/common/support" /}
                <!--快速链接-->
                {include file="home/common/links" /}
                <!--课程分类标签-->
                {include file="home/common/tags" /}
            </aside>
            <!-- end of sidebar -->
        </div>
    </div>
</div>
<!-- End of Page Container -->

{include file="home/common/foot" /}