<section class="widget">
    <h3 class="title">Tags</h3>
    <div class="tagcloud">
        <a href="#" class="btn btn-mini">Java</a>
        <a href="#" class="btn btn-mini">C/C++</a>
        <a href="#" class="btn btn-mini">Python</a>
        <a href="#" class="btn btn-mini">PHP</a>
        <a href="#" class="btn btn-mini">前端</a>
        <a href="#" class="btn btn-mini">date</a>
        <a href="#" class="btn btn-mini">design</a>
        <a href="#" class="btn btn-mini">files</a>
        <a href="#" class="btn btn-mini">format</a>
        <a href="#" class="btn btn-mini">header</a>
        <a href="#" class="btn btn-mini">images</a>
        <a href="#" class="btn btn-mini">plugins</a>
        <a href="#" class="btn btn-mini">setting</a>
        <a href="#" class="btn btn-mini">templates</a>
        <a href="#" class="btn btn-mini">theme</a>
        <a href="#" class="btn btn-mini">time</a>
        <a href="#" class="btn btn-mini">videos</a>
        <a href="#" class="btn btn-mini">website</a>
        <a href="#" class="btn btn-mini">wordpress</a>
    </div>
</section>