<!-- Start of Footer -->
<footer id="footer-wrapper">
    <div id="footer" class="container">
        <div class="row">

            <div class="span3">
                <section class="widget">
                    <h3 class="title">致敬程序员</h3>
                    <div class="textwidget">
                        <p>
                        程序员在用软件、互联网、移动互联网、AI，极大程度地改变世界。<br>
                        可以说，改变了这个世界的每一个行业。<br>
                        每个人都应该花一点时间学习编程。<br>
                        因为一个学过编程的人。<br>
                        他有一种独特的角度去思考世界。<br>
                        IF（学习 == FALSE）<br>
                        落后 = TRUE；<br>
                        不断的学习，我们才能不断的前进。<br>
                        编程中我们会遇到多少挫折？请别放弃，沙漠尽头必是绿洲。
                        </p>
                    </div>
                </section>
            </div>

            <div class="span3">
                <section class="widget"><h3 class="title">目录</h3>
                    <ul>
                        <li><a href="#" title="Lorem ipsum dolor sit amet,">首页</a> </li>
                        <li><a href="#" title="Lorem ipsum dolor sit amet,">课程</a></li>
                        <li><a href="#" title="Lorem ipsum dolor sit amet,">源码</a></li>
                        <li><a href="#" title="Lorem ipsum dolor sit amet, ">VIP赞助</a></li>
                        <li><a href="#" title="Lorem ipsum dolor sit amet,">签到</a></li>
                        <li><a href="#" title="Lorem ipsum dolor sit amet,">关于我们</a></li>
                    </ul>
                </section>
            </div>

            <div class="span3">
                <section class="widget">
                    <h3 class="title">本站核心</h3>
                    <div id="twitter_update_list">
                        提供货真价实的课程，<br>
                        分享实用且精致的源码，<br>
                        为您定做学习路径，<br>
                        电子书、软件应有尽有，<br>
                        追求最新的编程技术，<br>
                        竭尽全力，<br>
                        只为可以让您轻松愉快的学习，<br>
                        一切为了学习。<br>
                    </div>
                </section>
            </div>

            <div class="span3">
                <section class="widget">
                    <h3 class="title">联系我们</h3>
                    <div class="textwidget">
                        客服QQ：<br>
                        微信WX：<br>
                        VIP交流群：<br>

                    </div>
                </section>
            </div>

        </div>
    </div>
    <!-- end of #footer -->

    <!-- Footer Bottom -->
    <div id="footer-bottom-wrapper">
        <div id="footer-bottom" class="container">
            <div class="row">
                <div class="span6">
                    <p class="copyright">
                        Copyright © 2020. 作者：张坤&柴小花
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Footer Bottom -->

</footer>
<!-- End of Footer -->

<!-- script -->
<script type='text/javascript' src='__INDEX__/js/jquery-1.8.3.min.js'></script>
<script type='text/javascript' src='__INDEX__/js/jquery.easing.1.3.js'></script>
<script type='text/javascript' src='__INDEX__/js/prettyphoto/jquery.prettyPhoto.js'></script>
<script type='text/javascript' src='__INDEX__/js/jflickrfeed.js'></script>
<script type='text/javascript' src='__INDEX__/js/jquery.liveSearch.js'></script>
<script type='text/javascript' src='__INDEX__/js/jquery.form.js'></script>
<script type='text/javascript' src='__INDEX__/js/jquery.validate.min.js'></script>
<script type='text/javascript' src='__INDEX__/js/custom.js'></script>

</body>
</html>