<!--头部-->
{include file="common/head" title="关于我们"/}

<style>
    .ziti{
        font-size: 15px;
        font-weight: 500;
        line-height: 35px;
    }
</style>
<!-- Start of Page Container -->
<div class="page-container">
    <div class="container">
        <div class="row">

            <!-- start of page content -->
            <div class="span8 page-content">

                <article class=" page type-page hentry clearfix">
                    <h1 class="post-title"><a href="#">关于我们</a></h1>
                    <hr>
                    <p class="ziti"><strong>《第一编程网》</strong><br>
                        《第一编程网》主要是编程方面的资源分享、学习。
                        提供了丰富的移动端开发、Java开发、C/C++开发、
                        Python开发、PHP开发、Web前端、HTML5、大数据、人工智能、微信开发、运维、设计等视频教程，
                        以及众多整站源码、电子书、IDE软件等，您可以在这儿轻松学习，节约学习成本。<br>
                        所有资源都经过人工审核，保证精品可用，热烈欢迎加入《第一编程网》大家庭！
                    </p>
                </article>

                <article class="faq-item active">
                    <h3 class="faq-question">
                        <a href="#">1、本站资源是否高清？是否加密？</a>
                    </h3>
                    <div class="faq-answer">
                        <p class="ziti">
                            ①本站资源均来自网络搜集和用户提供，基本上<strong>每天更新</strong>。<br>
                            ②每周各个板块都会有增加新的资源。<br>
                            ③每个资源先经过人工审核筛选再发布，宁缺毋滥，保证可用，都<strong>不加密</strong>。<br>
                            ④视频资源<strong>全部高清</strong>，可以<strong>倍速播放</strong>，提升学习效率。<br>
                            ⑤所有资源都通过<strong>百度网盘分享</strong>。
                        </p>
                    </div>
                </article>

                <article class="faq-item active">
                    <h3 class="faq-question">
                        <a href="#">2、怎么获取IT币？</a>
                    </h3>
                    <div class="faq-answer" style="">
                        <p class="ziti">
                            ①每天登录<strong>签到</strong>可以获取5 IT币，坚持签到就可以免费获取本站资源了呦。<br>
                            ②分享给本站优质资源，经过审核，可以相应得到20-200 IT币。<br>
                            ③赞助本站，<a href="{:url('vip')}" target="_blank" style="color: #345345;"><strong>【充值】</strong></a>
                              可以获取相应IT币，1RMB = 10 IT币。
                        </p>

                    </div>
                </article>

                <article class="faq-item active">
                    <h3 class="faq-question">
                        <a href="#">3、VIP有什么特权？</a>
                    </h3>
                    <div class="faq-answer" style="">
                        <p  class="ziti">
                            ①每天不限制下载次数。<br>
                            ②全站免IT币下载。<br>
                            ③专属VIP售后客服。<br>
                            ④赠送百度云SVIP高速下载账号。<br>
                            ⑤免费申请想要的资源。<br>
                            ⑥申请加入VIP交流群，群内大量资源。<br>
                            ⑦不同<a href="{:url('vip')}" target="_blank" style="color: #345345;"><strong>【VIP的区别】</strong>。</a>
                        </p>
                    </div>
                </article>

                <article class="faq-item active">
                    <h3 class="faq-question">
                        <a href="#">5、关于VIP价格。</a>
                    </h3>
                    <div class="faq-answer" style="">
                        <p  class="ziti">
                            ①目前体验VIP只需要36元，还赠送360 IT币。<br>
                            ②永久VIP只需要126元（后期可能上涨），可以享受到众多特权与服务。<br>
                            ③本站从服务器、域名、网站维护、资源收集等到人工开发、筛选、审核等，都消耗大量人力财力。<br>
                            ④所以您的赞助VIP，不仅享受了服务，学到了真知识，还是本站最大的动力，爱您~<br>
                            ⑤联系客服，学生充值VIP折扣8.5折。
                        </p>

                    </div>
                </article>

                <article class="faq-item active">
                    <h3 class="faq-question">
                        <a href="#">6、关于本站站长。</a>
                    </h3>
                    <div class="faq-answer" style="">
                        <p  class="ziti">
                            本站长名为柴小花，目前是一位女"PHPer"，<br>
                            本人拥有一年Python经验和两年PHP经验，<br>
                            萌新可以注册加群，本学姐免费解答，初级问题可以，高级就别问了，俺也不会。<br>
                            我已拥有黑眼圈，可以一起掉头发吗？
                        </p>

                    </div>
                </article>


            </div>
            <!-- end of page content -->

            <!-- start of sidebar -->
            <aside class="span4 page-sidebar">
                <!--联系支持-->
                {include file="common/support" /}
                <!--快速链接-->
                {include file="common/links" /}
            </aside>
            <!-- end of sidebar -->
        </div>
    </div>
</div>
<!-- End of Page Container -->


<!--搜索框-->
{include file="common/foot" /}
