<!--头部-->
{include file="common/head" title="源码"/}
<!--搜索框-->
{include file="common/search" /}
<style>
    .pagination {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .pagination li {
        display: inline-block;
        padding: 5px;
    }
    .input-group {
        position: relative;

    }
</style>
<!-- Start of Page Container -->
<div class="page-container">
    <div class="container">
        <div class="row">
            <!-- start of page content -->
            <div class="span12 page-content">
                <div class="row home-category-list-area">
                    <div class="span12">
                        <h2>整站源码</h2>
                    </div>
                    {volist name='list' id='item'}
                    <section class="span3" style="padding-bottom: 20px">
                        <div style="border: 1px solid #f0f4f7;padding-bottom: 10px">
                            <img alt="image" class=" m-t-xs img-responsive" src="__STORAGE__/{$item.img}">
                            <h3 style="height: 120px"><a href="{:url('course_detail', ['id'=>$item.id])}" target="_blank">{$item.title}</a></h3>
                            <strong>标签：</strong>
                            <button class="btn btn-white btn-xs" type="button">{$item.classification.name}</button>
                            <div class="small text-right" style="padding-top: 10px">
                                <i class="fa fa-comments-o"> </i> 热度：{$item.down_num}&nbsp;&nbsp;
                                <i class="fa fa-eye"> </i> 浏览：{$item.view_num}
                            </div>
                        </div>

                    </section>

                    {/volist}

                </div>

            </div>
            {$page|raw}
            <!-- end of page content -->

            <!-- start of sidebar -->
            <!--<aside class="span4 page-sidebar">-->


            <!--</aside>-->
            <!-- end of sidebar -->
        </div>
    </div>
</div>
<!-- End of Page Container -->


<!--搜索框-->
{include file="common/foot" /}
