<!--头部-->
{include file="common/head" title="课程列表"/}
<!--搜索框-->
{include file="common/search" /}
<style>
    .pagination {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .pagination li {
        display: inline-block;
        padding: 5px;
    }
    .input-group {
        position: relative;

    }

</style>
<!-- Start of Page Container -->
<div class="page-container">
    <div class="container">
        <div class="row">
            <!-- start of page content -->
            <div class="span12 page-content">

                <div class="ibox-content forum-container">

                    <div class="forum-title">
                        <div class="pull-right forum-desc">
                            <!--<samll>总帖子数： 320,800</samll>-->
                        </div>
                        <h3 style="color: #aa0000">公告：如帖子侵犯到任何版权问题，请立即告知本站，本站将及时删除并致以最深的歉意!</h3>
                    </div>

                    <div class="forum-item active">
                        <div class="row">
                            <div class="span8">
                                <div class="forum-icon">
                                    <i class="fa fa-bolt"></i>
                                </div>
                                <a href="{:url('link_lose')}" class="forum-item-title">链接失效反馈</a>
                                <div class="forum-sub-title">链接失效来这里反馈，管理员看到会立刻修复呦~</div>
                            </div>
                        </div>
                    </div>
                    <div class="forum-item active">
                        <div class="row">
                            <div class="span8">
                                <div class="forum-icon">
                                    <i class="fa fa-star"></i>
                                </div>
                                <a href="{:url('link_ask')}" class="forum-item-title">VIP用户资源申购</a>
                                <div class="forum-sub-title">您有想要的资源可以在这里申请，VIP用户优先呦~</div>
                            </div>
                        </div>
                    </div>

                    <div class="forum-item active">
                        <div class="row">
                            <div class="span8">
                                <div class="forum-icon">
                                    <i class="fa fa-shield"></i>
                                </div>
                                <a href="{:url('link_share')}" class="forum-item-title">提交资源</a>
                                <div class="forum-sub-title">欢迎大家资源分享(奖励IT币)，课程、源码、软件、电子书、笔记等都可以，谢谢分享呦~</div>
                            </div>
                        </div>
                    </div>


                    <!--===============================================主版==========================================-->
                    <div class="forum-title">
                        <div class="pull-right forum-desc">
                            <!--<samll>总贴子数：17,800,600</samll>-->
                        </div>
                        <h3>主版</h3>
                    </div>

                    <!--循环-->
                    {volist name='data' id='item'}
                    <div class="forum-item">
                        <div class="row">
                            <div class="span8">
                                <div class="forum-icon">
                                    <i class="fa fa-shield"></i>
                                </div>
                                <a href="{:url('course_detail', ['id'=>$item.id])}" class="forum-item-title" target="_blank">{$item.title}</a>
                                <div class="forum-sub-title" style="color: #006621">【{$item.des}】&nbsp; 最后浏览于：{$item.update_time}</div>
                            </div>
                            <div class="span1 forum-info">

                            </div>
                            <div class="span1 forum-info">
                                        <span class="views-number">
                                            {$item.view_num}
                                        </span>
                                <div>
                                    <small>浏览</small>
                                </div>
                            </div>
                            <div class="span1 forum-info">
                                        <span class="views-number">

                                            {$item.down_num}
                                        </span>
                                <div>
                                    <small>热度</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {/volist}
                    {$page|raw}





                </div>

            </div>
            <!-- end of page content -->

        </div>
    </div>
</div>
<!-- End of Page Container -->




<!--尾部-->
{include file="common/foot" /}
