<!--头部-->
{include file="common/head" title="课程"/}
<!--搜索框-->
{include file="common/search" /}

<!-- Start of Page Container -->
<div class="page-container">
    <div class="container">
        <div class="row">
            <!-- start of page content -->
            <div class="span8 page-content">

                <article class=" type-post format-standard hentry clearfix">

                    <h1 class="post-title"><a href="#">Integrating WordPress with Your Website</a></h1>

                    <div class="post-meta clearfix">
                        <span class="date">25 Feb, 2013</span>
                        <span class="category"><a href="#" title="View all posts in Server &amp; Database">Server &amp; Database</a></span>
                        <span class="comments"><a href="#" title="Comment on Integrating WordPress with Your Website">3 Comments</a></span>
                        <span class="like-count">66</span>
                    </div><!-- end of post meta -->

                    <p>Many of us work in an endless stream of tasks, browser tasks, social media, emails, meetings,
                        rushing from one thing to another, never pausing and never ending.&nbsp;Then the day is over,
                        and we are exhausted, and we often have very little to show for it. And we start the next day,
                        ready for a mindless stream of tasks and distractions.</p>


                </article>

                <div class="like-btn">

                    <form id="like-it-form" action="#" method="post">
                        <span class="like-it ">66</span>
                        <input type="hidden" name="post_id" value="99">
                        <input type="hidden" name="action" value="like_it">
                    </form>

                    <span class="tags">
                        <strong>Tags:&nbsp;&nbsp;</strong><a href="#" rel="tag">basic</a>,
                        <a href="#" rel="tag">setting</a>,
                        <a href="http://knowledgebase.inspirythemes.com/tag/website/" rel="tag">website</a>
                    </span>

                </div>
                <br><hr/>

                <p class="success">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed d
                    iam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
                    wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis n
                    isl ut aliquip ex ea commodo consequat.</p>

                <hr/><br>
                <blockquote><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                    volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
                    suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p></blockquote>


                <hr/>
                <section id="comments">
                    <h3 id="comments-title">评论内容：</h3>
                    <ol class="commentlist">
                        <li class="comment even thread-even depth-1" id="li-comment-2">
                            <article id="comment-2">

                                <a href="#">
                                    <img alt=""
                                         src="http://1.gravatar.com/avatar/50a7625001317a58444a20ece817aeca?s=60&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D60&amp;r=G"
                                         class="avatar avatar-60 photo" height="60" width="60">
                                </a>

                                <div class="comment-meta">

                                    <h5 class="author">
                                        <cite class="fn">
                                            <a href="#" rel="external nofollow" class="url">John Doe</a>
                                        </cite>
                                        - <a class="comment-reply-link" href="#">Reply</a>
                                    </h5>

                                    <p class="date">
                                        <a href="#">
                                            <time datetime="2013-02-26T13:18:47+00:00">February 26, 2013 at 1:18 pm
                                            </time>
                                        </a>
                                    </p>

                                </div><!-- end .comment-meta -->

                                <div class="comment-body">
                                    <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                                        consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan
                                        et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis
                                        dolore te feugait nulla facilisi.</p>
                                    <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming
                                        id quod mazim placerat facer possim assum. Typi non habent claritatem insitam;
                                        est usus legentis in iis qui facit eorum claritatem.</p>
                                </div><!-- end of comment-body -->

                            </article><!-- end of comment -->

                            <ul class="children">

                                <li class="comment byuser comment-author-saqib-sarwar bypostauthor odd alt depth-2"
                                    id="li-comment-3">
                                    <article id="comment-3">

                                        <a href="#">
                                            <img alt=""
                                                 src="http://0.gravatar.com/avatar/2df5eab0988aa5ff219476b1d27df755?s=60&amp;d=http%3A%2F%2F0.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D60&amp;r=G"
                                                 class="avatar avatar-60 photo" height="60" width="60">
                                        </a>

                                        <div class="comment-meta">

                                            <h5 class="author">
                                                <cite class="fn">saqib sarwar</cite>
                                                - <a class="comment-reply-link" href="#">Reply</a>
                                            </h5>

                                            <p class="date">
                                                <a href="#">
                                                    <time datetime="2013-02-26T13:20:14+00:00">February 26, 2013 at 1:20
                                                        pm
                                                    </time>
                                                </a>
                                            </p>

                                        </div><!-- end .comment-meta -->

                                        <div class="comment-body">
                                            <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet
                                                doming id quod mazim placerat facer possim assum. Typi non habent
                                                claritatem insitam; est usus legentis in iis qui facit eorum claritatem.
                                                Investigationes demonstraverunt lectores legere me lius quod ii legunt
                                                saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem
                                                consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc
                                                putamus parum claram, anteposuerit litterarum formas humanitatis per
                                                seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis
                                                videntur parum clari, fiant sollemnes in futurum.</p>
                                        </div><!-- end of comment-body -->

                                    </article><!-- end of comment -->

                                </li>
                            </ul>
                        </li>

                        <li class="comment even thread-odd thread-alt depth-1" id="li-comment-4">
                            <article id="comment-4">

                                <a href="#">
                                    <img alt=""
                                         src="http://1.gravatar.com/avatar/50a7625001317a58444a20ece817aeca?s=60&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D60&amp;r=G"
                                         class="avatar avatar-60 photo" height="60" width="60">
                                </a>

                                <div class="comment-meta">

                                    <h5 class="author">
                                        <cite class="fn"><a href="#" rel="external nofollow" class="url">John
                                            Doe</a></cite>
                                        - <a class="comment-reply-link" href="#">Reply</a>
                                    </h5>

                                    <p class="date">
                                        <a href="http://knowledgebase.inspirythemes.com/integrating-wordpress-with-your-website/#comment-4">
                                            <time datetime="2013-02-26T13:27:04+00:00">February 26, 2013 at 1:27 pm
                                            </time>
                                        </a>
                                    </p>

                                </div><!-- end .comment-meta -->


                            </article><!-- end of comment -->
                        </li>
                    </ol>

                    <div id="respond">
                        <h3>评论：</h3>
                        <form action="#" method="post" id="commentform">
                            <div>
                                <!--<label for="comment">Comment</label>-->
                                <textarea class="span8" name="comment" id="comment" cols="58" rows="10"></textarea>
                            </div>
                            <div>
                                <input class="btn btn-primary" name="submit" type="submit" id="submit"
                                       value="提交">
                            </div>

                        </form>

                    </div>

                </section><!-- end of comments -->

            </div>
            <!-- end of page content -->

            <!-- start of sidebar -->
            <aside class="span4 page-sidebar">
                <!--联系支持-->
                {include file="common/support" /}
                <!--快速链接-->
                {include file="common/links" /}
                <!--课程分类标签-->
                {include file="common/tags" /}
            </aside>
            <!-- end of sidebar -->
        </div>
    </div>
</div>
<!-- End of Page Container -->


<!--搜索框-->
{include file="common/foot" /}
