<!--头部-->
{include file="common/head" title="课程"/}
<!--搜索框-->
{include file="common/search" /}

<!-- Start of Page Container -->
<div class="page-container">
    <div class="container">
        <div class="row">
            <!-- start of page content -->
            <div class="span8 page-content">

                <div>
                    <div class="row home-category-list-area">
                        <div class="span8">
                            <h2>编程开发</h2>
                        </div>
                    </div>
                    <div class="row-fluid top-cats">

                        {volist name='hello' id='item'}
                        <section class="span4" style="margin: 0">
                            <h4 class="" >
                                <img src="__STORAGE__/{$item.img}" style="width: 64px">
                                <a href="#" style="color: #375742">【{$item.name}】</a>
                            </h4>
                            <div class="category-description">
                                <p>资源:{$item.course_num} 下载次数:{$item.download_num}</p>
                            </div>
                        </section>
                        {/volist}
                    </div>
                </div>


                <br>
                <div>
                    <div class="row home-category-list-area">
                        <div class="span8">
                            <h2>数据/AI/运维</h2>
                        </div>
                    </div>
                    <div class="row-fluid top-cats">
                        {volist name='ai' id='item'}
                        <section class="span4" style="margin: 0">
                            <h4 class="" >
                                <img src="__STORAGE__/{$item.img}" style="width: 64px">
                                <a href="#" style="color: #375742">【{$item.name}】</a>
                            </h4>
                            <div class="category-description">
                                <p>资源:{$item.course_num} 下载次数:{$item.download_num}</p>
                            </div>
                        </section>
                        {/volist}
                    </div>
                </div>


                <br>
                <div>
                    <div class="row home-category-list-area">
                        <div class="span8">
                            <h2>设计/媒体</h2>
                        </div>
                    </div>
                    <div class="row-fluid top-cats">
                        {volist name='media' id='item'}
                        <section class="span4" style="margin: 0">
                            <h4 class="" >
                                <img src="__STORAGE__/{$item.img}" style="width: 64px">
                                <a href="#" style="color: #375742">【{$item.name}】</a>
                            </h4>
                            <div class="category-description">
                                <p>资源:{$item.course_num} 下载次数:{$item.download_num}</p>
                            </div>
                        </section>
                        {/volist}
                    </div>

                </div>
                <br><br><br>

            </div>
            <!-- end of page content -->

            <!-- start of sidebar -->
            <aside class="span4 page-sidebar">
                <!--联系支持-->
                {include file="common/support" /}
                <!--快速链接-->
                {include file="common/links" /}
                <!--课程分类标签-->
                {include file="common/tags" /}
            </aside>
            <!-- end of sidebar -->
        </div>
    </div>
</div>
<!-- End of Page Container -->


<!--搜索框-->
{include file="common/foot" /}
