<!--头部-->
{include file="common/head" title="课程列表"/}
<!--搜索框-->
{include file="common/search" /}
<style>

</style>
<!-- Start of Page Container -->
<div class="page-container">
    <div class="container">
        <div class="row">
            <!-- start of page content -->
            <div class="span12 page-content">

                <div class="ibox-content forum-container">

                    <div class="forum-title">
                        <div class="pull-right forum-desc">
                            <!--<samll>总帖子数： 320,800</samll>-->
                        </div>
                        <h3 style="color: #aa0000">公告：如帖子侵犯到任何版权问题，请立即告知本站，本站将及时删除并致以最深的歉意!</h3>
                    </div>

                    <!--<div class="forum-item active">-->
                        <!--<div class="row">-->
                            <!--<div class="span8">-->
                                <!--<div class="forum-icon">-->
                                    <!--<i class="fa fa-shield"></i>-->
                                <!--</div>-->
                                <!--<a href="forum_post.html" class="forum-item-title">链接失效反馈</a>-->
                                <!--<div class="forum-sub-title">【官方活动】非你“慕”属——你是慕课网的真爱“粉”吗？</div>-->
                            <!--</div>-->
                            <!--<div class="span1 forum-info" >-->
                                        <!--<span class="views-number">-->
                                            <!--1216-->
                                        <!--</span>-->
                                <!--<div>-->
                                    <!--<small>浏览</small>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="span1 forum-info">-->
                                        <!--<span class="views-number">-->
                                            <!--368-->
                                        <!--</span>-->
                                <!--<div>-->
                                    <!--<small>话题</small>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="span1 forum-info">-->
                                        <!--<span class="views-number">-->
                                            <!--140-->
                                        <!--</span>-->
                                <!--<div>-->
                                    <!--<small>帖子</small>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="forum-item active">
                        <div class="row">
                            <div class="span8">
                                <div class="forum-icon">
                                    <i class="fa fa-bolt"></i>
                                </div>
                                <a href="forum_post.html" class="forum-item-title">链接失效反馈</a>
                                <div class="forum-sub-title">最后发表：2020-03-03 15：12：22</div>
                            </div>
                            <div class="span1 forum-info">
                                        <span class="views-number">
                                            890
                                        </span>
                                <div>
                                    <small>浏览</small>
                                </div>
                            </div>
                            <div class="span1 forum-info">
                                        <span class="views-number">
                                            120
                                        </span>
                                <div>
                                    <small>话题</small>
                                </div>
                            </div>
                            <div class="span1 forum-info">
                                        <span class="views-number">
                                            154
                                        </span>
                                <div>
                                    <small>帖子</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="forum-item active">
                        <div class="row">
                            <div class="span8">
                                <div class="forum-icon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <a href="forum_post.html" class="forum-item-title">技术交流</a>
                                <div class="forum-sub-title">最后发表：2020-03-03 15：12：22</div>
                            </div>
                            <div class="span1 forum-info">
                                        <span class="views-number">
                                            680
                                        </span>
                                <div>
                                    <small>浏览</small>
                                </div>
                            </div>
                            <div class="span1 forum-info">
                                        <span class="views-number">
                                            124
                                        </span>
                                <div>
                                    <small>话题</small>
                                </div>
                            </div>
                            <div class="span1 forum-info">
                                        <span class="views-number">
                                            61
                                        </span>
                                <div>
                                    <small>帖子</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="forum-item active">
                        <div class="row">
                            <div class="span8">
                                <div class="forum-icon">
                                    <i class="fa fa-star"></i>
                                </div>
                                <a href="forum_post.html" class="forum-item-title">VIP用户资源申购</a>
                                <div class="forum-sub-title">最后发表：2020-03-03 15：12：22</div>
                            </div>
                            <div class="span1 forum-info">
                                        <span class="views-number">
                                            1450
                                        </span>
                                <div>
                                    <small>浏览</small>
                                </div>
                            </div>
                            <div class="span1 forum-info">
                                        <span class="views-number">
                                            652
                                        </span>
                                <div>
                                    <small>话题</small>
                                </div>
                            </div>
                            <div class="span1 forum-info">
                                        <span class="views-number">
                                            572
                                        </span>
                                <div>
                                    <small>帖子</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="forum-title">
                        <div class="pull-right forum-desc">
                            <samll>总贴子数：17,800,600</samll>
                        </div>
                        <h3>主版</h3>
                    </div>

                    <div class="forum-item">
                        <div class="row">
                            <div class="span8">
                                <div class="forum-icon">
                                    <i class="fa fa-shield"></i>
                                </div>
                                <a href="forum_post.html" class="forum-item-title">请问怎样对一个点拉伸或者改变其形状 </a>
                                <div class="forum-sub-title">我最开始也这样，给你个建议哈，别硬背html标签了，知道并理解这个标签怎么用就行。然后把CSS看完并理解。</div>
                            </div>
                            <div class="span1 forum-info">
                                        <span class="views-number">
                                            1516
                                        </span>
                                <div>
                                    <small>浏览</small>
                                </div>
                            </div>
                            <div class="span1 forum-info">
                                        <span class="views-number">
                                            238
                                        </span>
                                <div>
                                    <small>话题</small>
                                </div>
                            </div>
                            <div class="span1 forum-info">
                                        <span class="views-number">
                                            180
                                        </span>
                                <div>
                                    <small>帖子</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="forum-item">
                        <div class="row">
                            <div class="span8">
                                <div class="forum-icon">
                                    <i class="fa fa-bomb"></i>
                                </div>
                                <a href="forum_post.html" class="forum-item-title">为什么$james1=$james这个语句在程序结束的时候没有调用析构函数释放$james1占用的资源</a>
                                <div class="forum-sub-title">匹配任意内容 find /etc/home -name "*" 显示目录/etc/home下的所有文件? 匹配任意一个字符 find /etc/home -name "c?" </div>
                            </div>
                            <div class="span1 forum-info">
                                        <span class="views-number">
                                            1766
                                        </span>
                                <div>
                                    <small>浏览</small>
                                </div>
                            </div>
                            <div class="span1 forum-info">
                                        <span class="views-number">
                                            321
                                        </span>
                                <div>
                                    <small>话题</small>
                                </div>
                            </div>
                            <div class="span1 forum-info">
                                        <span class="views-number">
                                            42
                                        </span>
                                <div>
                                    <small>帖子</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="forum-item">
                        <div class="row">
                            <div class="span8">
                                <div class="forum-icon">
                                    <i class="fa fa-bookmark"></i>
                                </div>
                                <a href="forum_post.html" class="forum-item-title">什么情况下可以用x86急速器？</a>
                                <div class="forum-sub-title">林子大了什么鸟都有啊。楼主如果认为这位鹏哥讲的不好，应该指出来哪里讲的不好，并且把你觉的更好的讲课方案拿出来分享</div>
                            </div>
                            <div class="span1 forum-info">
                                        <span class="views-number">
                                            765
                                        </span>
                                <div>
                                    <small>浏览</small>
                                </div>
                            </div>
                            <div class="span1 forum-info">
                                        <span class="views-number">
                                            90
                                        </span>
                                <div>
                                    <small>话题</small>
                                </div>
                            </div>
                            <div class="span1 forum-info">
                                        <span class="views-number">
                                            11
                                        </span>
                                <div>
                                    <small>帖子</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="forum-item">
                        <div class="row">
                            <div class="span8">
                                <div class="forum-icon">
                                    <i class="fa fa-ambulance"></i>
                                </div>
                                <a href="forum_post.html" class="forum-item-title">localhost访问出错</a>
                                <div class="forum-sub-title">1.作用Linux系统中grep命令是一种强大的文本搜索工具，它能使用正则表达式搜索文本，并把匹 配的行打印出来。grep全称是Global Regular Expression Print，表示全局正则表达式版本，它的使用权限是所有用户。</div>
                            </div>
                            <div class="span1 forum-info">
                                        <span class="views-number">
                                            2550
                                        </span>
                                <div>
                                    <small>浏览</small>
                                </div>
                            </div>
                            <div class="span1 forum-info">
                                        <span class="views-number">
                                            122
                                        </span>
                                <div>
                                    <small>话题</small>
                                </div>
                            </div>
                            <div class="span1 forum-info">
                                        <span class="views-number">
                                            92
                                        </span>
                                <div>
                                    <small>帖子</small>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- end of page content -->

        </div>
    </div>
</div>
<!-- End of Page Container -->




<!--尾部-->
{include file="common/foot" /}
