<!--头部-->
{include file="common/head" title="VIP用户资源申购"/}
<!--弹窗-->
<link href="__ADMIN__/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
<style>
    .pagination {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .pagination li {
        display: inline-block;
        padding: 5px;
    }
    .input-group {
        position: relative;

    }

</style>
<!-- Start of Page Container -->
<div class="page-container">
    <div class="container">
        <div class="row">

            <!-- start of page content -->
            <div class="span8 page-content">

                <article class="type-page hentry clearfix">
                    <h1 class="post-title">VIP用户资源申购</h1>
                    <hr>
                    <p>VIP用户资源申购，您有想要的资源可以在这里申请，VIP用户优先呦~（有众筹需求请备注）</p>
                </article>


                <form id="contact-form" class="row" action="" method="post">

                    <div class="span2">
                        <label for="name">资源名称 <span>*</span> </label>
                    </div>
                    <div class="span6">
                        <input type="text" name="name" id="name" class="required input-xlarge" style="width: 80%">
                    </div>

                    <div class="span2">
                        <label for="message">资源内容 <span>*</span> </label>
                    </div>
                    <div class="span6">
                        <textarea name="message" id="message" class="required span6" rows="6" style="width: 80%"></textarea>
                    </div>

                    <div class="span6 offset2 bm30">
                        <div class="btn " onclick="submit()">提交</div>
                    </div>


                    <a hidden="hidden" href="{:url('login')}" target="_blank" id="tologin"></a>

                </form>

                <article class="type-page hentry clearfix">
                    <h2 class="post-title">资源申购</h2>
                    <hr>
                </article>
                <ul class="articles">
                    {volist name='data' id='item'}
                    <li class="article-entry standard">
                        <h4>{$item.title}</h4>
                        {if $item.is_up == 2}
                        <span class="like-count1">√ 已申购</span>
                        {/if}
                    </li>
                    {/volist}
                </ul>
                <br>
                {$page|raw}
            </div>
            <!-- end of page content -->


            <!-- start of sidebar -->
            <aside class="span4 page-sidebar">
                <!--联系支持-->
                {include file="common/support" /}
                {include file="common/link" /}

            </aside>
            <!-- end of sidebar -->
        </div>
    </div>
</div>
<!-- End of Page Container -->


<!--尾部-->
{include file="common/foot" /}

<script src="__H__/js/plugins/sweetalert/sweetalert.min.js"></script>
<script>

    //评论
    function submit() {
        var user_name="{:session('user_name')}";
        var user_id="{:session('user_id')}";
        var name = $("#name").val();
        var message = $("#message").val();
        if (user_name.length >= 2 && user_name){
            $.ajax({
                async : false,    //表示请求是否异步处理
                type : "post",    //请求类型
                url : '{:url("link_submit")}',//请求的 URL地址
                dataType : "json",//返回的数据类型
                data : {
                    'user_id' : user_id,
                    'user_name' : user_name,
                    'title' : name,
                    'content' : message,
                    'type' : 2
                },
                success: function (data) {
                    //console.log(data.code);  //在控制台打印服务器端返回的数据
                    if(data.code === 200){
                        swal("申购成功！管理员会及时处理！", " ", "success");
                        setTimeout(function(){
                            window.location.reload();
                        },1000);
                    }
                },
                error:function (data) {
                }
            });
        }else {
            swal({
                title: "欢迎来到《第一编程网》",
                text: "您还没有登录，请先登录呦~。",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#2E8B57",
                confirmButtonText: "去登录",
                closeOnConfirm: false
            }, function () {
                document.getElementById('tologin').click()
            });
        }

    }

</script>