<!--头部-->
{include file="common/head" title="我的信息"/}
<style>
    .pagination {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .pagination li {
        display: inline-block;
        padding: 5px;
    }
    .input-group {
        position: relative;

    }

</style>
<!-- Start of Page Container -->
<div class="page-container">
    <div class="container">
        <div class="row">
            <!-- start of page content -->
            <div class="span8 page-content">

                <div class="col-sm-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>个人资料</h5>
                        </div>
                        <div>
                            <!--<div class="ibox-content no-padding border-left-right">-->
                                <!--<img alt="image" class="img-responsive" src="__H__/img/profile_big.jpg">-->
                            <!--</div>-->
                            <img src="__STORAGE__/{$user_data.head_img}">
                            <div class="ibox-content profile-content">
                                <p style="font-size: 17px;margin-bottom: 18px">
                                    <strong>{$user_data.username}</strong>
                                    -
                                    <img src="__INDEX__/images/vip{$user_data.vip_type}.png">
                                </p>
                                <p><i class="fa fa-backward"></i>
                                    本站的
                                    {if $user_data.vip_type == 5}
                                    永久会员<img src="__INDEX__/images/vip{$user_data.vip_type}.png">
                                    {elseif $user_data.vip_type == 3}
                                    体验会员<img src="__INDEX__/images/vip{$user_data.vip_type}.png">
                                    {elseif $user_data.vip_type == 2}
                                    普通用户<img src="__INDEX__/images/vip{$user_data.vip_type}.png">
                                    {/if}
                                    &nbsp;&nbsp;&nbsp;&nbsp;剩余IT币：{$user_data.left_money}
                                </p>
                                <!--<h5>-->
                                    <!--关于我-->
                                <!--</h5>-->
                                <p>
                                    一个人静静坐在电脑面前写代码的感觉，那是什么感觉？那是武林高手闭关修炼的感觉。
                                </p>
                                <div class="actions">
                                    <div class="btn btn-xs btn-white"><i class="fa fa-heart"></i> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>我的动态</h5>
                        </div>
                        <div class="ibox-content">

                            <div>
                                <div class="feed-activity-list">

                                    {volist name="user_log" id="item"}
                                    <div class="feed-element">
                                        <div class="pull-left">
                                            <img  class="img-circle" src="__STORAGE__/{$user_data.head_img}">
                                        </div>
                                        <div class="media-body ">
                                            <!--<small class="pull-right text-navy">5小时前</small>-->
                                            <strong>{$user_data.username}</strong> <strong style="color: #345345">【{$item.type}】</strong>
                                            <br>

                                            <small class="text-muted">{$item.create_time}</small>
                                            <div class="well">
                                                {if $item.course_id}
                                                【{$item.type}】：<a href="{:url('course_detail', ['id'=>$item.id])}" target="_blank">{$item.content}</a>
                                                {else}
                                                【{$item.type}】：{$item.content}
                                                {/if}
                                            </div>
                                        </div>
                                    </div>
                                    {/volist}
                                    {$page|raw}
                                </div>
                                <!--<button class="btn btn-primary btn-block m"><i class="fa fa-arrow-down"></i> 显示更多</button>-->

                            </div>

                        </div>
                    </div>
                </div>


            </div>
            <!-- end of page content -->

            <!-- start of sidebar -->
            <aside class="span4 page-sidebar">
                <!--联系支持-->
                {include file="common/support" /}
                <!--快速链接-->
                {include file="common/link" /}
                <!--课程分类标签-->
                {include file="common/tags" /}
            </aside>
            <!-- end of sidebar -->
        </div>
    </div>
</div>
<!-- End of Page Container -->


<!--搜索框-->
{include file="common/foot" /}
