<!--头部-->
{include file="common/head" title="第一编程网-签到"/}

<link rel="stylesheet" href="__SIGN__/css/style.css">

<!-- Start of Page Container -->
<div class="page-container">
    <div class="container">
        <div class="row">
            <!-- start of page content -->
            <div class="span8 page-content">
                <div class="row home-category-list-area">
                    <div class="span8">
                        <h2><font style="vertical-align: inherit;color: #375742">签到</font></h2>
                    </div>
                    <center>
                    <div id="app-cover">

                        <h1>你今天心情如何？</h1>
                        <div id="app">
                            <div class="mood" id="mood-great">
                                <div class="face">
                                    <div class="eyes-cover">
                                        <div class="eye"></div>
                                        <div class="eye"></div>
                                    </div>
                                    <div class="mouth"></div>
                                </div>
                                <div class="mood-name"><span>非常好</span></div>
                            </div>
                            <div class="mood" id="mood-okay">
                                <div class="face">
                                    <div class="eyes-cover">
                                        <div class="eye"></div>
                                        <div class="eye"></div>
                                    </div>
                                    <div class="mouth"></div>
                                </div>
                                <div class="mood-name"><span>一般</span></div>
                            </div>
                            <div class="mood" id="mood-bad">
                                <div class="face">
                                    <div class="eyes-cover">
                                        <div class="eye"></div>
                                        <div class="eye"></div>
                                    </div>
                                    <div class="mouth"></div>
                                </div>
                                <div class="mood-name"><span>不开心</span></div>
                            </div>
                            <div class="mood" id="mood-wu">
                                <div class="face">
                                    <div class="eyes-cover">
                                        <div class="eye"></div>
                                        <div class="eye"></div>
                                    </div>
                                    <div class="mouth"></div>
                                </div>
                                <div class="mood-name"><span>无所谓</span></div>
                            </div>
                        </div>
                    </div>
                    </center>
                </div>


            </div>
            <!-- end of page content -->

            <!-- start of sidebar -->
            <aside class="span4 page-sidebar">
                <!--联系支持-->
                {include file="common/support" /}
                <!--快速链接-->
                {include file="common/links" /}
                <!--课程分类标签-->
                {include file="common/tags" /}
            </aside>
            <!-- end of sidebar -->
        </div>
    </div>
</div>
<!-- End of Page Container -->


<!--搜索框-->
{include file="common/foot" /}
