<!--头部-->
{include file="common/head" title="VIP"/}


<!-- Start of Page Container -->
<div class="page-container">
    <div class="container">
        <div class="row">
            <!-- start of page content -->
            <div class="span8 page-content">
                <div class="row home-category-list-area">
                    <div class="span8">
                        <h2><font style="vertical-align: inherit;color: #375742">VIP赞助</font></h2>
                    </div>
                </div>
                <div class="row-fluid top-cats">
                    <section class="span4">
                        <div class="contact-box">

                                <div class="col-sm-4">
                                    <div class="text-center">
                                        <img alt="image" class="img-circle m-t-xs img-responsive" src="__INDEX__/images/itbi.png">
                                        <!--<div class="m-t-xs font-bold">CTO</div>-->
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <h3><strong>赞助IT币</strong></h3>
                                    <address>
                                        <strong>规则：1RMB = 10IT币</strong><br>
                                        <label>
                                            <strong >RMB：</strong><input type="number" style="width: 75px">
                                        </label>
                                    </address>


                                    <button style="color: green;width: 80px;">充值</button>
                                </div>
                                <div class="clearfix"></div>

                        </div>
                    </section>

                    <section class="span4">
                        <div class="contact-box">
                                <div class="col-sm-4">
                                    <div class="text-center">
                                        <img alt="image" class="img-circle m-t-xs img-responsive" src="__INDEX__/images/vip3.png">
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <h3><strong>体验VIP</strong></h3>
                                    <address>
                                        <strong>期限：30天</strong><br>
                                        <strong>金额：28RMB</strong><br>
                                    </address>
                                    <br>
                                    <button style="color: green;width: 80px;">充值</button>
                                </div>
                                <div class="clearfix"></div>
                        </div>
                    </section>

                    <section class="span4">
                        <div class="contact-box">
                                <div class="col-sm-4">
                                    <div class="text-center">
                                        <img alt="image" class="img-circle m-t-xs img-responsive" src="__INDEX__/images/vip0.png">
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <h3><strong>永久VIP</strong></h3>
                                    <address>
                                        <strong>期限：永久</strong><br>
                                        <strong>金额：98RMB</strong><br>
                                    </address>
                                    <br>
                                    <button style="color: green;width: 80px;">充值</button>
                                </div>
                                <div class="clearfix"></div>
                        </div>
                    </section>
                </div>


                <h3>赞助IT币</h3>
                <blockquote>
                    <strong style="font-size: 15px;color: #2e383c">
                        一、兑换规则：1 RMB = 10 IT币<br>
                        二、每天最多可以下载10个<br>
                        三、全站资源高清无密<br>
                        四、所有资源在0-50 IT币范围内<br>
                        五、赞助IT币、每日登录签到、完善信息、贡献课程等都可以获取IT币<br>
                        六、遇到充值问题，请联系客服QQ<br>
                    </strong>
                </blockquote>
                <h3>体验VIP</h3>
                <blockquote>
                    <strong style="font-size: 15px;color: #2e383c">
                        一、VIP期限：30天<br>
                        二、每天最多可以下载10个<br>
                        三、全站资源高清无密<br>
                        四、全站免IT币下载<br>
                        五、赠送IT币280个<br>
                    </strong>
                </blockquote>
                <h3>永久VIP</h3>
                <blockquote>
                    <strong style="font-size: 15px;color: #2e383c">
                        一、VIP期限：永久<br>
                        二、每天不限制下载次数<br>
                        三、全站资源高清无密<br>
                        四、全站免IT币下载<br>
                        五、专属VIP售后客服<br>
                        六、赠送百度云SVIP高速下载账号<br>
                        七、免费申请资源<br>
                        八、可以进永久VIP交流群，群内大量资源<br>
                    </strong>
                </blockquote>

            </div>
            <!-- end of page content -->

            <!-- start of sidebar -->
            <aside class="span4 page-sidebar">
                <!--联系支持-->
                {include file="common/support" /}
                <!--快速链接-->
                {include file="common/links" /}
                <!--课程分类标签-->
                {include file="common/tags" /}
            </aside>
            <!-- end of sidebar -->
        </div>
    </div>
</div>
<!-- End of Page Container -->


<!--搜索框-->
{include file="common/foot" /}
